.ui-resizable-handle { cursor: nw-resize; }
.ui-button { /*float: right;*/ display: inline-block; cursor: pointer; /*margin-bottom: -3px;*/ }
.ui-right { vertical-align: top; float: right; }

input[type=checkbox] { /*width: 8px; height: 8px;*/ margin-right: 5px; }

/*************** round checkbox stuff ***************
.roundCheckbox input[type=checkbox] { width: 3px; height: 3px; visibility: hidden; margin: 0; }
.roundCheckbox {
    display: inline-block;
    vertical-align: -4px;
    
    width: 12px;
    height: 12px;
    background: #ddd;
    margin-bottom: -2px;

    border-radius: 100%;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.roundCheckbox label {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;

    background: #333;

    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.roundCheckbox input[type=checkbox]:checked + label {
    background: #26ca28;
}
.roundCheckbox input[type=checkbox]:disabled + label {
    background: #bbb;
    cursor: default;
}
*************** end round checkbox ****************/

body { /*color: #508; line-height: 1.2;*/ }

.contCenter {  text-align: center; /*margin-top: 50%; float: none;*/ }
.contRightTop { width: 20%; float: right; clear: both; margin: 4px 4px 0px 0px; min-width: 85px; }
.contLeftTop { position: absolute; margin: 4px 4px 0px 0px; border: none; }

.boxHead { text-align: center; /*white-space: nowrap;*/ min-width: 85px; cursor: default; }
/*#playbackContainer .ui-icon { background-image: url("//code.jquery.com/ui/1.11.4/themes/black-tie/images/ui-icons_ededed_256x240.png"); }*/

.contCheckbox { white-space: nowrap; }
.contCheckbox input[type=checkbox] { /*width: 3px; height: 3px; visibility: hidden; margin: 0;*/ display: none; }
.contCheckbox label {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    color: #333;
}
.contCheckbox input[type=checkbox]:checked + label {
    color: #26ca28;
}
.contCheckbox input[type=checkbox]:disabled + label {
    color: #bbb;
    cursor: default;
}
.contCheckbox.unconfirmed input[type=checkbox] + label {
    color: #bbb;
}
.contCheckbox.unconfirmed input[type=checkbox]:checked + label {
    color: #e05050;
}

.dropdown { display: inline-block; }
.dropdown select { border-width: 0; }

label.-bs-icon- { margin-bottom: 0; }

.ui-contextmenu, .dropdown-menu { font-size: 80%; z-index: 150; }
.dropdown-menu { padding-right: 2px; }
.menu-container { /*clear: both;*/ text-align: right; white-space: nowrap; }
.menu-label { margin-left: 2px; display: inline-block; /*text-align: left;*/ float: left; }

.hidden { display: none; }
